<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <h1><%= title %></h1>
        <ul id="countries">

            <% countrylist.forEach( (country) => {  %>
                <!-- 1: Aruba (ARB) -->
                <!-- <li><%= country.id %>: <%= country.name %> (<%= country.cca3_code %>)</li> -->
                <li><a href='/countries/<%= country.id %>'><%= country.id %>: <%= country.name %> (<%= country.cca3_code %>)</a></li>
            <% } ) %>

        </ul>
    </body>
</html>